@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ececec;
  --foreground: #2e2e2e;
  --form-background: #f1f1f1cb;
  --header-background: #007ea8;
}

.dark {
    --background: #252525;
    --foreground: #ededed;
    --form-background: #333333;
    --header-background: #004f70;
}

button {
  color: black;
}

html,body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: var(--header-background);
}

input {
  color: #171717;
}

h2 {
  font: bold;
  font-size: large;
}

.form-container, .reminder-container {
  background-color: var(--form-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


