@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2e2e2e;
  --form-background: #f1f1f100;
}

.dark {
    --background: #252525;
    --foreground: #ededed;
    --form-background: #575757;
}


html,body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: #171717;
}

h2 {
  font: bold;
  font-size: large;
}

.form-container, .reminder-container {
  background-color: var(--form-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


